* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 18px;
}

body {
  min-height: 100%;
  background-color: hsl(0deg, 0%, 60%);
}

header {
  background-color: hsl(0deg, 0%, 100%);
}

header p {
  font-size: 1.25rem;
}

main {
  padding: 96px 0;
}

.max-width-wrapper {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  padding: 95px 16px 48px 16px;
  max-width: 400px;
}

.title {
  margin: 0;
  padding-bottom: 48px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.card {
  padding: 24px;
  background-color: hsl(0deg, 0%, 100%);
}

.card,
header {
  border-bottom: solid 8px hsl(0deg, 0%, 40%);
}

.indented-heading {
  width: fit-content;
  width: -moz-fit-content;
  padding: 16px 48px;
  margin: -16px 0 24px -48px;
  /* margin-left: -32px; */
  /* margin-top: 0; */
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: solid 8px hsl(45deg, 100%, 40%);
}
